*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 1130vh;
}
.navbar_bottom{
    width: 100%;
    height: 35px;
    background: rgb(225, 225, 225);
    display: flex;
}
.navbarBottom_card{
    width: 33.3%;
    height: 100%;
    display: flex;

}
.navbarBottom_card i{
    font-size: 20px;
    margin: 5px 0 5px 80px;
    cursor: pointer;
}
.navbarBottom_card p{
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    font-family: monospace;
}
.navbarBottom_card p span{
    font-family: monospace;
    border-bottom: 1px solid black;
}



.navbar{
    width: 100%;
    height:80px;
    border: 1px solid red;
    padding: 15px 75px;
    display: flex;
}
.navLogo{
    width: 250px;
    height: auto;
    display: flex;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px;
}
.navLogo .logotext{
    text-align: center;
    margin: auto;
    font-family:Verdana;
    font-weight: 600;
    font-size: 25px;
    color: rgb(134, 4, 255);
}
.logoImg{
    width: 35px;
    height: 35px;
    border-radius: 30%;
    background: url(./uzum.png) no-repeat center/cover; 
}    